<div id="navbar">
    <img id="siteicon" src="/navbaricon.png" alt="navbaricon is supposed to be here" />
    <span><a href="/requests/">Home</a></span>
    <span><a href="/requests/details">Details</a></span>
    <div id="authDiv">
    {{#if name}}
    <span><a class="authElem" href="/requests/">{{name}}</a></span>
    <span><a class="authElem" href="/requests/logout">Log out</a></span>
    {{else}}
    <span><a class="authElem" href="/requests/register">Sign up</a></span>
    <span><a class="authElem" href="/requests/login">Log in</a></span>
    {{/if}}
    </div>
</div>