<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Timetable</title>
    <link type="text/css" rel="stylesheet" href="/main.css">
    <link rel="icon" href="/siteiconweb.png">
    <script src="/functions.js"></script>
</head>

<body>
    {{> nav}}
    {{{body}}}
</body>

</html>