<h1>Subjects detailed information</h1>
<div class="divisor">{{fileDownloadError}} </div>
<div class="divisor">
{{#if classesDetailedInformation}}
    <table class="subjectInf">
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Lecture</th>
            <th>Seminar</th>
            <th>Lab</th>
            <th>Day</th>
            <th>Hour</th>
            <th>Classroom</th>
            <th>User name</th>
            <th>Download Syllabus</th>
            <th>Delete</th>
        </tr>
        {{#each classesDetailedInformation}}
        <tr id="{{classDay}}{{classHour}}{{classRoom}}">
            <td>{{subjectName}}</td>
            <td>{{subjectYear}}</td>
            <td>{{lectureHours}}</td>
            <td>{{seminarHours}}</td>
            <td>{{labHours}}</td>
            <td>{{classDay}}</td>
            <td>{{classHour}}</td>
            <td>{{classRoom}}</td>
            <td>{{user}}</td>
            <td><a href="/requests/download_{{subjectName}}"><img class="image" src="/download.png"></img></a></td>
            {{#eq ../name user}}
            <td><img onclick="deleteClass('{{subjectName}}', '{{classDay}}', '{{classHour}}', '{{classRoom}}')" class="image" src="/delete.png"></img></td>
            {{/eq}}
        </tr>
        {{/each}}
    </table>
{{else}}
<p class="errMsg">No detailed subject information to show</p>
{{/if}}
</div>
<div class="divisor">
<form action="/requests/addClass" method="POST" id="addClass">
        {{#if errors}}
        <label id="formErr">{{{errors}}}</label><br>
        {{/if}}
        <label>Subject name: </label><input type="text" name="subjectName" placeholder="Subject's name here..."  required/><br>
        <label>Update existing Subject information?</label>
        <select id="updateInf" name="updateInf">
            <option value="yes">Yes</option>
            <option value="no">No</option>
            </select><br><br>
        <label>Year:  </label><input type="text" name="year" placeholder="Year of students taking class..."  required /><br>
        <br><label><b><u>Time alloted to lecture,seminars and labs</u></b></label><br>
        <label>Lecture: </label><input type="text" name="lecture" placeholder="Total length of lectures..."  required /><br>
        <label>Seminar: </label><input type="text" name="seminar" placeholder="Total length of seminars..."required /><br>
        <label>Lab:  </label><input type="text" name="lab" placeholder="Total length of labs...."  required /><br>
        <br><label><b><u>Details of the class:</u></b></label><br>
        <label>Day:</label>
            <select id="days" name="daylist">
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thursday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="saturday">Saturday</option>
            <option value="sunday">Sunday</option>
            </select><br>
        <label>Classroom:</label><input type="text" name="classRoom" placeholder="Name of classroom here..." required /><br>
        <label>Time of class:</label><input type="text" name="time" placeholder="Time between 08:00 and 20:00..." required/><br>
        <label> </label><input type="submit" /><br>
</form>
</div><br>
<div class="divisor">
{{#if uploadOK}}
    <form action="/requests/uploadSyl_{{classesDetailedInformation.0.subjectName}}" method="POST" enctype="multipart/form-data" id="uploadSyl">
        <label>File: <input type="file" name="upFile" required /></label><br>
        <label><input type="submit" /></label><br>
    </form>
{{/if}}
</div>

