<div>
    <h1>Error encountered with status message: {{statusCode}}</h1>
    <p>Message:</p>
    <p class="errMsg">{{message}}</p>
    <p>
        Maybe you would like to visit the following pages:<br>
        <a href="/">Home</a><br>
        <a href="/details">Details</a><br>
    </p>
</div>