<h1>Subjects</h1>
{{#if subjectInf}}
    <table class="subjectInf">
        <tr>
            <th>Name</th>
            <th>Details</th>
            <th>Year</th>
            <th>Lecture</th>
            <th>Seminar</th>
            <th>Lab</th>
        </tr>
        {{#each subjectInf}}
        <tr id="{{subjectName}}" onclick="showDetails(this.id)">
            <td>{{subjectName}}</td>
            <td><a href="/requests/details_{{subjectName}}"><img class="image" src="/details.png"></img></a></td>
            <td id="year{{subjectName}}" class="details">{{subjectYear}}</td>
            <td id="lecture{{subjectName}}" class="details">{{lectureHours}}</td>
            <td id="seminar{{subjectName}}" class="details">{{seminarHours}}</td>
            <td id="lab{{subjectName}}" class="details">{{labHours}}</td>
        </tr>
        {{/each}}
    </table>
{{else}}
    <p class="errMsg">No subjects to show</p>
{{/if}}
