<h1>Login</h1>

<form action="/requests/login" method="POST" id="login"> 
    {{#if errors}}
    <label id="formErr">{{{errors}}}</label><br>
    {{/if}}
    <label>User name: </label><input type="text" name="userName" placeholder="Enter your username here..." /><br>
    <label>Password:</label><input type="password" name="password" placeholder="Write your password here..." required/><br>
    <label> </label><input type="submit" value="Login" /><br>
</form>