<h1>Register</h1>


<form action="/requests/register" method="POST" id="register"> 
    {{#if errors}}
    <label id="formErr">{{{errors}}}</label><br>
    {{/if}}
    <label>User name: </label><input type="text" name="userName" placeholder="Enter your username here..." /><br>
    <label>Password:</label><input type="password" name="password" placeholder="Write your password here..." required/><br>
    <label>Confirm Password:</label><input type="password" name="confirmPassword" placeholder="Confirm password..." required/><br>
    <label> </label><input type="submit" /><br>

</form>