html,
body {
    height: 100%;
    width: 100%;
    background: rgb(72,210,25);
    background: radial-gradient(circle, rgba(72,210,25,1) 0%, rgba(255,191,100,0.76234243697479) 0%);
    text-align: center;
}

#addClass {
    display:inline-block;
    width:  fit-content;
    height: fit-content;
    text-align: left;
    background: rgb(72,210,25);
    background: radial-gradient(circle, rgba(72,210,25,1) 0%, rgba(255,191,100,0.76234243697479) 0%);
    border-style: solid;
    border-color: darkgreen;
    font-weight: bolder;
}

.divisor {
    width:100%;
}

#register {
    display: inline-block;
    width:  fit-content;
    height: fit-content;
    align-content: center;
    text-align: left;
    background: rgb(72,210,25);
    background: radial-gradient(circle, rgba(72,210,25,1) 0%, rgba(255,191,100,0.76234243697479) 0%);
    border-style: solid;
    border-color: darkgreen;
    font-weight: bolder;
}

#login {
    display: inline-block;
    width:  fit-content;
    height: fit-content;
    align-content: center;
    text-align: left;
    background: rgb(72,210,25);
    background: radial-gradient(circle, rgba(72,210,25,1) 0%, rgba(255,191,100,0.76234243697479) 0%);
    border-style: solid;
    border-color: darkgreen;
    font-weight: bolder;
}

#uploadSyl {
    display:inline-block;
    width:  fit-content;
    height: fit-content;
    text-align: left;
    background: rgb(72,210,25);
    background: radial-gradient(circle, rgba(72,210,25,1) 0%, rgba(255,191,100,0.76234243697479) 0%);
    border-style: solid;
    border-color: darkgreen;
    font-weight: bolder;
}

#formErr{
    font-style: italic;
    color: coral;
}

form label {
    position: relative;
    height: fit-content;
    width: fit-content;
    font-size: 120%;
    font-style: oblique;
}

form input {
    position: relative;
    width: fit-content;
    float: right;
    clear: both;
}

form select {
    position: relative;
    float: right;
    clear: both;
}

#navbar{
    width: 99%;
    height:5%;
    border-style: solid;
    border-color: green;
}

#navbar > span{
    height:90%;
    display: inline-block;
    width:9%;
    border-style: solid;
    border-color: darkgreen;
    background-color: cornsilk;
}
#navbar > span a {
    display:inline-block;
    height:100%;
    width:100%;
    font-weight: bold;
    font-size: 2.0vw;
    color: darkgreen;
    text-decoration: none;
}

#authDiv {
    float:right;
    height:fit-content;
    width: fit-content;
}

.authElem {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    color: darkgreen;
    text-decoration: none;
    border-style: solid;
    border-color: darkgreen;
    background-color: cornsilk;
    font-weight: bold;
    font-size: 2.0vw;
}

#siteicon{
    float:left;
    height:100%;
    width:10%;
}

.errMsg{
    font-style:italic;
}

.subjectInf {
    display: inline-block;
    height:fit-content;
    width:fit-content;
    border-style: solid;
    align-items: center;
}

.subjectInf th {
    border-style: solid;
    width:fit-content;
    height:fit-content;
}

.subjectInf td {
    border-style: solid;
    width: fit-content;
    height: fit-content;
}

.image {
    height: 20px;
    width:20px;
}

#divAccessDenied{
    align-items: center;
    padding-top: 100px;
    height: 80%;
}

#accessDenied{
    font-style: italic;
    font-weight: bolder;
    font-size: 2vw;
    color: crimson;
}

.details{
    opacity: 0%;
}